@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body,
html {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #ced8d9;
    margin: 0;
}

/* --------------------------------------- Hero image position */

.shape {
    position: relative;
}

.hero-image {
    width: 100%;
    height: auto;
}

/* ---------------------------------------- Wave effect */

.custom-shape-divider-bottom-1677668137 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1677668137 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;

}

.custom-shape-divider-bottom-1677668137 .shape-fill {
    fill: #ced8d9;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

/* ---------------------------------------- Search bar */

* {
    box-sizing: border-box;
}


::selection {
    color: #fff;
    background: #664AFF;
}

.search-box {
    position: relative;
    height: 60px;
    width: 60px;
    margin: 20px;
    border-radius: 50%;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, .2);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box.active {
    width: 350px;
}

.search-box input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50px;
    background: #fff;
    outline: none;
    padding: 0 60px 0 20px;
    font-size: 18px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box input.active {
    opacity: 1;
}

.search-box input::placeholder {
    color: #a6a6a6;
}

.search-box .search-icon {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 22px;
    color: #0ba5f1;
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .search-icon.active {
    right: 5px;
    height: 50px;
    line-height: 50px;
    width: 50px;
    font-size: 20px;
    background: #0ba5f1;
    color: #fff;
    transform: translateY(-50%) rotate(360deg);
}

.search-box .cancel-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .cancel-icon.active {
    right: -40px;
    transform: translateY(-50%) rotate(360deg);
}

.search-box .search-data {
    text-align: center;
    padding-top: 7px;
    color: #fff;
    font-size: 18px;
    word-wrap: break-word;
}

.search-box .search-data.active {
    display: none;
}

.hide-text {
    display: none;
  }

  /* ------------------------------------- Clear button */

.mybtn{
    background-color: #0ba5f1;
    border: 1px solid;
    border-radius: 1rem;
    padding: 10px;
    font-size: 18px;

}

.mybtn:hover {
    background-color: #d8e3e9;
    color: #2d3436;
    border: 1px solid;
}

  /* ------------------------------------- Map */


div#map {
    height: 400px;
    width: 100%; 
 
}

/* ------------------------------------- Table */

#listing {
    height: 400px;
    overflow: auto;
    cursor: pointer;
    overflow-x: hidden;
  }

.table {
    font-weight: 600;
    font-size: 1.1em;
}

#resultsTable {
    width: 100%;
}


/* ------------------------------------- Footer */

.set-bkgnd {
    background-color: #ced8d9;
    padding-top: 10px;
    padding-bottom: 15px;
    border: 2px groove #c0c0c0;
}

#footer {
    height: 3em;
    font-size: smaller;
    text-align: center;
    padding-right: 15px;
}

/* -------------------------------------- 404 page */
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,800");
.error-container {
    text-align: center;
    font-size: 180px;
    font-family: "Catamaran", sans-serif;
    font-weight: 800;
    margin: 20px 15px;
}
.error-container > span {
    display: inline-block;
    line-height: 0.7;
    position: relative;
    color: #FFB485;
}
.error-container > span > span {
    display: inline-block;
    position: relative;
}
.error-container > span:nth-of-type(1) {
    perspective: 1000px;
    perspective-origin: 500% 50%;
    color: #F0E395;
}
.error-container > span:nth-of-type(1) > span {
    transform-origin: 50% 100% 0px;
    transform: rotateX(0);
    animation: easyoutelastic 8s infinite;
}
.error-container > span:nth-of-type(3) {
    perspective: none;
    perspective-origin: 50% 50%;
    color: #D15C95;
}
.error-container > span:nth-of-type(3) > span {
    transform-origin: 100% 100% 0px;
    transform: rotate(0deg);
    animation: rotatedrop 8s infinite;
}
@keyframes easyoutelastic {
    0% {
        transform: rotateX(0);
    }
    9% {
        transform: rotateX(210deg);
    }
    13% {
        transform: rotateX(150deg);
    }
    16% {
        transform: rotateX(200deg);
    }
    18% {
        transform: rotateX(170deg);
    }
    20% {
        transform: rotateX(180deg);
    }
    60% {
        transform: rotateX(180deg);
    }
    80% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(0);
    }
}
@keyframes rotatedrop {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(30deg);
    }
    15% {
        transform: rotate(90deg);
    }
    70% {
        transform: rotate(90deg);
    }
    80% {
        transform: rotate(0);
    }
    100% {
        transform: rotateX(0);
    }
} /* demo stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: #f4f4f4;
    margin-bottom: 50px;
}
html,
button,
input,
select,
textarea {
    font-family: "Montserrat", Helvetica, sans-serif;
    color: #bbb;
}
h1 {
    text-align: center;
    margin: 30px 15px;
}
.zoom-area {
    max-width: 490px;
    margin: 30px auto 30px;
    font-size: 19px;
    text-align: center;
}
.link-container {
    text-align: center;
}
a.more-link {
    text-transform: uppercase;
    font-size: 13px;
    background-color: #bbb;
    padding: 10px 15px;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 1.5;
    text-decoration: none;
    margin-top: 50px;
    letter-spacing: 1px;
}


@media(min-width: 280px) and (max-width: 359px) {
    .custom-shape-divider-bottom-1677668137 svg {height: 40px;}
    .search-box.active {width: 190px;}
    .search-box input {font-size: 14px;}
}

@media(min-width: 360px) {
    .check {display: flex; justify-content: center;}
}

@media(min-width: 360px) and (max-width: 450px) {
    .search-box.active {width: 250px;}
}

@media(min-width: 1024px) {
    .hero-image {height: 600px;}
    .custom-shape-divider-bottom-1677668137 svg {height: 120px;}
    .search-box.active {width: 550px;}
    div#map {width: 50%; float: left;}
}